html {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

body {
  flex-direction: column;
  display: flex;
  height: 100vh;
}

div {
  overflow: scroll;
  flex-grow: 1;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 150%;
}

thead tr > th {
  background: #ccc;
  position: sticky;
  padding: 0.5rem;
  z-index: 2;
  top: 0;
}

thead tr > :first-child {
  z-index: 3;
  left: 0;
  top: 0;
}

td {
  text-align: center;
}

tbody tr > :first-child {
  background: #ddd;
  position: sticky;
  z-index: 1;
  left: 0;
}

th {
  background-color: #f2f2f2;
}

.selected-row {
  background-color: #f0f8ff;
}

/* table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.selected-row {
  background-color: #f0f8ff;
} */
